{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Editar Aluno</h2>
    <form method="POST">

        <div class="mb-3">
            <label class="form-label">Nome:</label>
            <input type="text" name="nome" class="form-control" value="{{ aluno[1] }}" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Data de Nascimento:</label>
            <input type="date" name="data_nascimento" class="form-control" value="{{ aluno[5] }}" required>
        </div>

        <div class="mb-3">
            <label class="form-label">CPF:</label>
            <input type="text" name="cpf" class="form-control" maxlength="14" value="{{ aluno[3] }}" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Número da Caixa:</label>
            <input type="text" name="numero_caixa" class="form-control" value="{{ aluno[4] }}" required>
        </div>

        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
        <a href="{{ url_for('dashboard') }}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
